
<h2>Products in warehouses</h2>

<a class="btn btn-success text-center offset-md-3 col-md-6 col-sm-12" asp-controller="WarehouseProducts" asp-action="Add"><i class="bi bi-plus-circle"></i> Add new</a>