@model CategoryWithProducts

<h1 class="headingMargin">Delete</h1>

@if (Model.ProductsCount > 0)
{
    <h5>You can not delete category with products in it!</h5>
    <h5>Products in category - @Model.ProductsCount</h5>
    <br />
}
else
{
    <h5>Are you sure you want to delete <span class="font-weight-bold"><u>@Model.Name</u></span> category?</h5>
    <br />
}
<div>
    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="@Model.Id" />
        <input @if (Model.ProductsCount > 0) { <text>disabled</text>} type="submit" asp-action="DeleteConfirmed" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="All">Back to List</a>
    </form>
</div>
