@model AddProductFormModel

@using ConcreteProducts.Web.Data.Models.Enumerations

@{
    ViewData["Title"] = "Add Product";
}

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h2 class="headingMargin text-center">Add Product</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="20/20/6, 30/30/6 etc.">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QuantityInPalletInUnitOfMeasurement"></label>
                    <input asp-for="QuantityInPalletInUnitOfMeasurement" type="number" step="0.01" class="form-control">
                    <span asp-validation-for="QuantityInPalletInUnitOfMeasurement" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QuantityInPalletInPieces"></label>
                    <input asp-for="QuantityInPalletInPieces" type="number" step="0.01" class="form-control">
                    <span asp-validation-for="QuantityInPalletInPieces" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CountInUnitOfMeasurement"></label>
                    <input asp-for="CountInUnitOfMeasurement" type="number" step="0.01" class="form-control">
                    <span asp-validation-for="CountInUnitOfMeasurement" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <select asp-for="UnitOfMeasurement" asp-items="Html.GetEnumSelectList<UnitOfMeasurement>()">
                        <option value="">Please select</option>
                    </select>
                    <span asp-validation-for="UnitOfMeasurement" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Weight"></label>
                    <input asp-for="Weight" type="number" step="0.01" class="form-control">
                    <span asp-validation-for="Weight" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl"></label>
                    <input asp-for="ImageUrl" class="form-control" placeholder="Valid image url">
                    <span asp-validation-for="ImageUrl" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId"></label>
                    <div class="input-group">
                        <select asp-for="CategoryId" class="form-control">
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                        <div class="input-group-append">
                            <a class="btn btn-success" title="Add new" asp-area="" asp-controller="Categories" asp-action="Add"><i class="fas fa-plus"></i></a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteCategoryModal" title="Delete">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ColorId"></label>
                    <div class="input-group">
                        <select asp-for="ColorId" class="form-control" id="slctProcedure">
                            @foreach (var color in Model.Colors)
                            {
                                <option value="@color.Id">@color.Name</option>
                            }
                        </select>
                        <div class="input-group-append">
                            <a class="btn btn-success" title="Add new" asp-area="" asp-controller="Colors" asp-action="Add"><i class="fas fa-plus"></i></a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteColorModal" title="Delete">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCategoryModal">Delete category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete selected category?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a class="btn btn-primary" asp-area="" asp-controller="Categories" asp-action="Delete">Yes</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteColorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteColorModal">Delete color</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete selected color?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a class="btn btn-primary" asp-area="" asp-controller="Colors" asp-action="Delete">Yes</a>
            </div>
        </div>
    </div>
</div>